.button {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  padding: 1.5rem 3rem;
  margin-bottom: 1.5rem;

  background-color: #087f5b;
  color: #fff;

  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 3px;
  border: none;
  border-radius: 5px;
}

.button.disabled {
  background-color: #ced4da;
  color: #868e96;
  cursor: text;
}
